EXPO_PUBLIC_SUPABASE_URL='http://127.0.0.1:54323'
EXPO_PUBLIC_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtZWFsenVwdnN3a2JleWlzeGt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTg3Nzc4NzQsImV4cCI6MjAzNDM1Mzg3NH0.uOGeketEvxVoN5-fEyqQk3faNylib0Wwl69rH2YVFMA'
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY='pk_test_51PYAL5RpNGYU0VhQsxPSS27qENm4oPedifWzCWWTVEvnC2UhvFxgkzzJPYlC9lfNix0mBx4hpiFcNS64OzLLCV2q00dtNvAKTW'
STRIPE_SECRET_KEY='sk_test_51PYAL5RpNGYU0VhQrvqGEMDPqdFXVkredxNlFonQB7rBQpp7Wijewv4MWjq7gEzoiCbm1zilYDiD5eA13jb6yv4n0006HEWKVV'